---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<!-- Override some default KaTeX styles -->
<style is:global>
    p {
        margin-bottom: 0.5em;
    }

    p .katex {
        font: inherit !important;
        font-size: 1.1em !important;
    }

    .katex-display > .katex {
        text-wrap: wrap !important;
    }
</style>

<BaseLayout title={post.data.title}>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
        integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP"
        crossorigin="anonymous"
    />

    <div class="w-full">
        <div class="mb-8">
            <h1 class="text-title subheader">
                {post.data.title}
            </h1>
            <h2 class="text-highlight-1">
                {
                    post.data.date.toLocaleString(undefined, {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                        timeZone: "UTC",
                    })
                }
            </h2>
        </div>
        <div class="blog-content text-default">
            <Content />
        </div>
    </div>
</BaseLayout>
