---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<BaseLayout title="Sam Partington">
    <div class="w-full mb-12">
        <h1 class="subheader mb-8">Blog</h1>
        {
            posts.map((post) => (
                <div class="mb-6">
                    <div class="flex">
                        <a
                            href={`/blog/${post.id}`}
                            class="link underline text-highlight-2"
                        >
                            {post.data.title}
                        </a>

                        <p class="ml-auto text-highlight-3">
                            {post.data.date}
                        </p>
                    </div>

                    <p class="text-small">
                        {post.data.description}
                    </p>
                </div>
            ))
        }
    </div>
</BaseLayout>
