---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="px-5 bg-background font-libertinus text-text text-default">
        <section class="flex flex-col items-center main-content">
            <slot />
        </section>
    </body>
</html>
