---
import "../styles/global.css";
import Header from "../components/Header.astro";

const { title, desc } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body class="px-5 bg-background font-libertinus text-text text-default">
        <main class="container flex flex-col items-center max-w-3xl mx-auto min-h-screen">
            <Header title="Sam Partington" />
            <slot />
            <div class="mt-auto py-12 text-center text-xsmall">© 2025 Sam Partington</div>
        </main>
    </body>
</html>
